<!DOCTYPE html>
<html lang="en-ca">
<head>
    <link rel="icon" href="/assets/icons/f-icon.png">

    <meta charset="utf-8">
    <title>Crayon Typesets</title>
    <link href ="CSS/common.css" rel = "stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-100487871-1', 'auto');
      ga('send', 'pageview');

    </script>

</head>
<body>

<header>

  {% include nav.html %}

</header>

<div class = "container">
  {{content}}
</div>

<footer>
  <p>© Michael J. Francki 2017</p>
</footer>

</body>
</html>
